*{
    margin: 0px;
    padding: 0px;
}
.maincont .link a{
    padding-left:  30px;
    text-decoration: none;
    font-size: 1.5rem;
}
.maincont .link a:hover{
    text-decoration: underline;
    
}
.maincont{
    /* border: 2px solid blue; */
    display: flex;
    background-color: rgb(255, 238, 215);
}
.maincont h3 a{
    color: blue;   
    text-decoration: none;
}
.maincont h3 a:hover{
    color: blueviolet;  
    text-decoration: underline;
    cursor: pointer; 
}
.videocard{
    display: inline-block;
    width: 65%;
    height: 360px;
    background-color: rgb(154, 173, 173);
    box-shadow: 2px 5px;
    margin-top: 100px;
    margin-right: 1rem;
}
.video video{
    width: 100%;
    /* height: 200px; */
}
.video-title{
    text-align: center;
    margin: 10px;
}
.video-des{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px;

}
.main{
    /* border: 2px solid red; */
    /* margin-left: 300px; */
}
.cards{
    display: inline-block;
    width: 25%;
    height:fit-content;
    background-color: rgb(210, 252, 252);
    margin: 1.7rem;
    border-radius: 10px;
}
.image img{
    width: 100%;
    height: 150px;
    border-top-left-radius:10px ;
    border-top-right-radius:10px;
    margin: 1rem;
}
.title{
    text-align: center;
}
.des {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px;
}
.cards:hover{
    transform: scale(1.05);
    box-shadow: 2px 5px;
    
}